---
permalink: /
layout: default.liquid
title: The Heart of Gold Theatre - Now Showing
eleventyNavigation:
  key: "Shows"
  order: 0
---
<!-- Amanda please don't break this page, it is the main page for the site and is very important.  -->
<!-- Seriously, don't break it.  -->
<!-- If you do, I will be very sad.  -->
<!-- seriously... -->
<!-- Don't even think about it -->
<main class="text-bg-dark">
  <div class="container py-3 text-center">
    <h1 id="title" class="text-logo display-1 fw-bold">The Heart of<br>Gold Theatre</h1>
  </div>

  <!-- This is a single show block.  If you want to add more shows, copy and paste this block and change the details.  -->
  <div class="container my-5 pb-3 show">
    <span class="show-badge"></span>
    <div class="row pb-0 pe-lg-0 align-items-center rounded-1 shadow-lg text-bg-light">
      <div class="show-banner col-lg-12 m-0 p-0 overflow-hidden shadow-lg rounded-top">
        <img src="/assets/shows/an-intervention.jpg" alt="Poster for the show An Intervention by Mike Bartlett.  Showing a vintage looking photo of an atomic bomb mushroom cloud." class="img-fluid rounded-top">
      </div>
      <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
        <h2 class="display-4 fw-bold lh-1">AN INTERVENTION<br>by Mike Bartlett</h2>
        <p class="fs-5 text-secondary">July 22nd 2026 – August 9th 2026<br>Directed by Aaron Henrickson<br>Starring Amanda Egle and Taylor Adams</p>
        <p class="lead">
        A searing -- and, for better or worse, timeless -- comedy penned by English screenwriter and playwright Mike Bartlett, <a href="https://www.eventbrite.com/e/an-intervention-by-mike-bartlett-tickets-1991580937195" target="_black" rel="nofollow" class="link-dark">An Intervention</a> deftly and humorously explores a hairline fracture in a 3-year friendship that fissures into a vast canyon. The title is a sharp double-entendre: she needs an intervention for her drinking, while he supports an intervention… elsewhere.
        </p>
        <p class="lead">
        First produced in the UK in 2014, the script deploys quick-witted banter to enchant audiences and remains just challenging enough to spark engaging discussions for the ride home. Performed by two fresh and electrifying Chicago actors, what better way to bring friends and communities together than with something hilarious that speaks to the moment?
        </p>
        <div class="d-grid gap-2 pt-4 d-sm-flex justify-content-sm-center mb-3">
          <a class="btn btn-primary btn-lg px-4 gap-3" href="https://www.eventbrite.com/e/an-intervention-by-mike-bartlett-tickets-1991580937195" target="_black" rel="nofollow">Buy Tickets</a>
        </div>
      </div>
    </div>

    <div class="accordion my-5" id="showDetailsAccordion" data-bs-theme="light">
      <!-- Copy this block for another accordion item -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingWarnings">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWarnings" aria-expanded="false" aria-controls="collapseWarnings">
            Crew
          </button>
        </h2>
        <div id="collapseWarnings" class="accordion-collapse collapse" aria-labelledby="headingWarnings" data-bs-parent="#showDetailsAccordion">
          <div class="accordion-body">
            <ul>
              <li><b>Director:</b>
                <ul>
                  <li>Aaron Henrickson</li>
                </ul>
              <li>
                <b>Cast:</b>
                <ul>
                  <li>Amanda Egle (A)</li>
                  <li>Taylor Adams (B)</li>
                </ul>
              </li>
              <li>
                <b>Production Design:</b>
                <ul>
                  <li><b>Sound Design:</b> Ron Hale</li>
                  <li><b>Lighting Design:</b> Nathan Keiller</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end of accordion block -->

      <!-- Copy this block for another accordion item -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingWarnings">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWarnings" aria-expanded="false" aria-controls="collapseWarnings">
            Content Warnings (Contains Spoilers)
          </button>
        </h2>
        <div id="collapseWarnings" class="accordion-collapse collapse" aria-labelledby="headingWarnings" data-bs-parent="#showDetailsAccordion">
          <div class="accordion-body">
            Although this show can be very funny, it sensitively and seriously tackles difficult themes, including: alcohol abuse, mental illness, suicidal ideation and a failed suicide attempt. It also contains strong language.
          </div>
        </div>
      </div>
      <!-- end of accordion block -->
    </div>
  </div>
  <!-- end of show block -->


  <div class="container py-3 text-center">
    <h1 id="about" class="text-logo display-1 fw-bold">About Us</h1>
  </div>
  <div class="container my-5 pb-3 show">
    <span class="show-badge"></span>
    <div class="row pb-0 pe-lg-0 align-items-center rounded-1 shadow-lg text-bg-light">
      <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
        <h2 class="display-4 fw-bold lh-1">Hi,</h2>
        <p class="lead">
          We’re The Heart of Gold.
        </p><p class="lead">
          Our mission is to execute exemplary, life-affirming live theatre.<br>
          We promise we’re not haughty; we’re named after a spaceship from a science fiction novel.<br>
        </p><p class="lead">
          Like the Greeks, we believe that theatre should be for everyone.<br>
          Like a former Chicago mayor, we believe that politicians don’t bring people together. Artists do. <br>
          And like that famous Spanish painter, we believe that art is the lie that tells the truth. <br>
        </p><p class="lead">
          All in all, we think that theatre is the finest living exhibition of the human spirit. <br>
          We also think that it can be a total waste of time. <br>
          We promise to be that first thing. <br>
        </p><p class="lead">
          From the bottom of our hearts, thank you for joining us!
        </p>
        <div class="container p-3">
          Sincerely,<br>
          <img src="/assets/imgs/signature.png" height="50em">
          <br>
          Taylor Adams<br>
          Artistic Director
        </div>
      </div>
    </div>
  </div>
</main>
