<div class="window">
  <div class="highlight">
    <div class="title-bar dark">
      <div class="title">
        <div class="controls">
          <div class="dot red"></div>
          <div class="dot amber"></div>
          <div class="dot green"></div>
        </div>
        bmarse@iMac:~/project
      </div>
    </div>
    <div class="content">
      {% render screen_file %}
    </div>
  </div>
</div>
<script>
{% render "scripts/tododo.js" %}
</script>
