<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/assets/imgs/seal-100.png" height="30px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
{% assign navPages = collections.all | eleventyNavigation %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for entry in navPages %}
          <li class="nav-item">
            <a class="nav-link{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link fw-bold link-warning" aria-current="page" href="https://square.link/u/slJ2XAJe" target="_black" rel="nofollow" >Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
